:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);

    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--off-white);
}
p {
    font-size: 15px;
}
a {
    text-decoration: none;
}
/* HELPER */
.w-100 {
    width: 100%;
}
ul > li {
    list-style: none;
}
.bb-none {
    border-bottom: none !important;
}

.container {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0;
}

.list {
    display: flex;
    gap: 1.875rem;
    justify-content: center;
}

.list-item a {
    padding: 0.625rem;
    color: var(--dark-grayish-blue);
    font-size: 1.25rem;
}
.list-item a:hover {
    color: var(--soft-red);
}
.container-main {
    max-width: 1440px;
    display: flex;
    /* flex-wrap: wrap; */
    margin-top: 1.25rem;
    gap: 50px;
}
section {
    flex: 2;
}

aside {
    background-color: var(--very-dark-blue);
    flex: 1;
}
aside h2 {
    color: var(--soft-orange);
    padding: 1.25rem 2.1875rem 0.625rem 2.1875rem;
    font-size: 3.75rem;
}
.info {
    display: flex;
    flex: 1;
    padding-top: 1.875rem;
}
.text-item {
    display: inline-block;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}
.text-item h2 {
    font-size: 4.6875rem;
    font-weight: 800;
    letter-spacing: -3px;
}
.text-item p {
    color: var(--dark-grayish-blue);
    /* letter-spacing: 1px; */
    line-height: 2.1875remx;
    font-size: 1.25rem;
}

.btn {
    display: inline-block;
    align-items: center;
    color: var(--off-white);
    padding: 1.25rem 3.125rem;
    margin-top: 4.0625rem;
    background-color: var(--soft-red);
}

.btn:hover {
    background-color: var(--very-dark-blue);
}
.btn a {
    color: var(--off-white);
    letter-spacing: 0.25rem;
    font-size: 1.25rem;
}

aside h3 {
    color: var(--off-white);
    font-size: 1.5rem;
    margin-top: 2.5rem;
}
aside h3:hover {
    color: var(--soft-orange);
}
aside p {
    color: var(--grayish-blue);
    font-size: 1.125rem;
    margin-top: 0.9375rem;
    line-height: 1.875rem;
}

.news-item {
    margin: 0.625rem 2.1875rem 0.625rem 2.1875rem;
    border-bottom: 1px solid var(--grayish-blue);
}

.container-article {
    max-width: 1440px;
    margin: 0 auto;
}

.card-body {
    display: flex;
    justify-content: space-between;
    gap: 3%;
    margin: 6.25rem 0;
}
.card {
    display: flex;
    gap: 8%;
    flex: 1;
}

.card picture img {
    height: 9.375rem;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4%;
}
.text h2 {
    font-size: 2.5rem;
    color: var(--grayish-blue);
}
.text h3 {
    font-size: 1.5rem;
    color: var(--very-dark-blue);
}
.text h3:hover {
    font-size: 1.5rem;
    color: var(--soft-red);
}
.text P {
    font-size: 1.1rem;
    color: var(--dark-grayish-blue);
}

@media (max-width: 1230px) {
    .text-item h2 {
        font-size: 6vw;
    }
    aside h2 {
        font-size: 5vw;
    }
    .text-item p {
        font-size: 1.5vw;
    }

    aside h3 {
        font-size: 2vw;
    }
    aside p {
        font-size: 1.5vw;
    }
}
@media (max-width: 1200px) {
}
@media (max-width: 375px) {
}
