.container {
  background-color: rgb(228, 221, 221);
  max-width: 800px;
  height: 880px;
  margin: auto;
}
.button {
  padding: 20px;
}
p {
  margin: 50px;
}

.btn {
  margin: 20px 40px;
}
h3 {
  margin: 20px 225px;
}
