.button-basic {
  border: none;
  padding: 15px 30px;
  text-align: center;
  font-size: 16px;
  background-color: $primary-color;
  outline: 1px solid transparent;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
    outline-color: black;
  }
}

.button-report {
  @extend .button-basic;
  background-color: $secondary-color;
}

.button-submit {
  @extend .button-basic;
  background-color: $info-color;
  color: white;
}
