@import "variables";
@import "mixin";
@import "mediaQuerry";
@import "extend";
@import "color";
@import "icon";
@import "nav";

.container {
  background-color: $bg-color;
  color: $text-color;
  padding: $padding-10;
  border-bottom: 1px solid $text-color;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  width: 500px;
  height: 300px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
}
