/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  background-color: #282828;
  margin: 30px;
}

h1 {
  color: beige;
}
li {
  list-style: none;
}

.hidden {
  visibility: hidden;
}
li a {
  list-style: none;
  text-decoration: none;
  font-weight: bold;
}
#nav {
  margin-bottom: 100px !important;
}

.navbar1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  border: 1px solid rgb(11, 63, 235);
  padding: 5px 20px;
  margin: 0 auto;
}

.nav-product {
  position: absolute;
  top: 16%;
  left: 43%;
}
.nav-product li {
  border: 1px solid rgb(11, 63, 235);
  padding: 5px 20px;
  margin: 0 auto;
}
