* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(220, 5.08%, 11.57%);
  color: beige;
  margin: 4%;
}
a {
  list-style: none;
}
ul > li {
  list-style: none;
}
